#img-txt {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    margin-right: 30px;
}

.about {
    padding: 80px 4%;
}

.txt-about {
    text-align: left;
    margin-bottom: 40px;
}

.txt-about p {
    margin: 20px 0;
    text-align: justify;
}

.s {
    color: var(--blue);
}
