.about {
    padding: 80px 4%;
}

.flex {
    display: flex;
    align-items: center;
}

.img-about {
    margin-right: 30px;
}

#img-txt {
    width: 350px;
    height: 350px;
    border-radius: 50%;
}

.content {
    flex: 1;
}

.txt-about p {
    margin: 20px 0;
    text-align: justify;
}

.small-icons {
    margin-top: 20px;
}

.blue {
    color: var(--blue);
    font-weight: 500;
}


/* Responsividade */
@media (max-width: 940px) {
    .about {
        padding: 80px 6%;
    }

    .img-about {
        margin-right: 0;
        margin-bottom: 0px;
    }

    #img-txt {
        width: 321px;
        height: 321px;
    }
}

@media (max-width: 510px) {
    .about {
        padding: 20px 8%;
    }

    .img-about {
        margin-right: 0;
        margin-bottom: 0px;
    }

    #img-txt {
        width: 234px;
        height: 234px;
    }
}

