header {
    padding: 40px 4%;
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: var(--gray);
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover {
    color: #fff;
    transform: scale(1.05);
}


nav {
    list-style: none;
    display: inline-block;
}

nav ul li {
    display: inline-block;
    padding: 0 45px;
}
