header {
    padding: 30px 0;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

header a {
    color: var(--gray);
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover {
    color: #fff;
    transform: scale(1.05);
}

nav.menu-desktop {
    list-style: none;
    display: inline-block;
}

nav.menu-desktop ul li {
    display: inline-block;
    padding: 0 45px;
}

/* Menu Mobile */
.menu-mobile {
    background-color: #000;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 60%;
    overflow: hidden;
}

.menu-mobile nav ul {
    text-align: right;
    list-style: none;
}

.menu-mobile nav ul a {
    font-size: 20px;
    font-weight: 400;
    padding: 10px 4%;
    color: var(--white);
}

.menu-mobile nav ul a:hover {
    color: var(--blue);
}

.menu-mobile .btn-close {
    padding: 20px 5%;
    padding-bottom: 0px;
}

.menu-mobile .btn-close i {
    color: var(--blue);
    font-size: 30px;
}

.btn-open-menu i {
    color: var(--blue);
    font-size: 40px;
    display: none;
}

.overlay-menu {
    background-color: #00000097;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
}

html {
    scroll-behavior: smooth;
}

@media (max-width: 940px) {
    header>.interface {
        justify-content: center;
    }

    .contato {
        display: none;
    }

    .btn-open-menu i {
        display: block;
    }

    nav.menu-desktop ul li {
        padding: 0 30px;
    }
}

@media (max-width: 710px) {
    nav.menu-desktop ul li {
        padding: 0 10px;
    }

    .btn-open-menu {
        font-size: 10px;
    }
}

@media (max-width: 520px) {
    nav.menu-desktop ul li {
        padding: 0 10px;
        display: none;
    }

    .menu-mobile {
    }

    header>.interface {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .btn-open-menu {
        font-size: 10px;
    }
}