.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 400;
    background-color: var(--blue);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

.btn-contato button:hover {
    box-shadow: 0px 0px 8px var(--blue);
    transform: scale(1.05);
    transition: .2s;
}