.icon-social {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    cursor: pointer;
    background-color: transparent;
}

.icon-social a {
    font-size: 2rem;
    color: var(--blue);
    transition: transform .2s ease;
}

.icon-social a:hover {
    transform: scale(1.2);
}

@media(max-width:510px){
    .icon-social a {
        font-size: 1.5rem;
    }
}