footer {
    padding: 30px 4%;
    box-shadow: 0 0 20px 6px var(--shadownwhite);
}

footer #logotipo {
    width: 98px;
    height: 40px;
}

footer .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.line-separator {
    display: block;
    height: 1px;
    background-color: var(--blue);
    margin: 0.5rem 0;
}

.icon-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.line-footer a {
    color: var(--white);
}

@media (max-width: 950px) {
    footer .flex {
        flex-direction: row;
        align-items: center;
    }

    footer .logo-footer {
        margin-bottom: 10px;
    }

    .icon-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
}
