.titleh {
    font-family: 'VCR OSD Mono', sans-serif;
    font-size: 2.25rem;
    font-weight: 400;
    text-align: center;
}

.title-left {
    text-align: left;
}

.titles {
    font-family: 'VCR OSD Mono', sans-serif;
    color: #3989f3;
    font-size: 2.25rem;
    font-weight: 500;
}

.btn-social{
    display: flex;
}