* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-size: 20px;

}

body {
    background-color: #000;
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
    color: #fff;
}

#logotipo {
    width: 147px;
    height: 60px;
}

.flex {
    display: flex;
}

