* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-size: 20px;

}

body {
    background-color: #000;
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
    color: #fff;
}

#logotipo {
    width: 147px;
    height: 60px;
}

.flex {
    display: flex;
}

/* Estilos do Header */
header {
    padding: 40px 4%;
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #7d7d7d;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover {
    color: #fff;
    transform: scale(1.05);
}


nav {
    list-style: none;
    display: inline-block;
}

nav ul li {
    display: inline-block;
    padding: 0 45px;
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 400;
    background-color: #3989f3;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

.btn-contato button:hover {
    box-shadow: 0px 0px 8px #398af3a5;
    transform: scale(1.05);
    transition: .2s;
}

/* Topo do Site */
#avatar {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-right: 30px;
}

.topo-do-site {
    padding: 40px 4%;
}

.text-site h1 {
    font-size: 2.5rem;
}

p.inicio {
    margin-top: 10px;
    padding-right: 150px;
}

p.continue{
    margin-bottom: 30px;
}


.flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}