.especialidades {
    padding: 60px 4%;
}

.box {
    padding: 20px;
    border-radius: 20px;
    gap: 30px;
    margin-top: 25px;
    transition: transform 0.2s ease-in-out;
  }

.box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px var(--blue);
}

.box i {
    font-size: 70px;
    color: color var(--gray);
}

.box h2 {
    font-size: 1.4rem;
    margin: 15px 0;
}

.box p {
    font-size: 1.12rem;
}

.box:hover i {
    color: var(--blue);
}