.form {
    padding: 80px 4%;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form input,
.form textarea {
  width: 100%;
  background-color: var(--shadowngray);
  border: 0;
  padding: 20px 15px;
  border-radius: 10px;
  font-size: 18px;
  color: #fff;
  transition: .5s;
}

.form textarea {
    resize: none;
    height: 200px;
    max-height: 300px;
}

.form input,
.form textarea {
    transition: border .2s, box-shadow .2s;
}

.form input:hover,
.form textarea:hover {
    border: 1px solid var(--blue);
    box-shadow: 0px 0px 8px var(--blue);
}

.form input:focus,
.form textarea:focus {
    box-shadow: 0px 0px 8px var(--blue);
    outline: none;
}

.form input.invalid,
.form textarea.invalid {
  box-shadow: 0px 0px 8px var(--red);
}

.error-message {
    color: red;
    font-size: 0.8rem;
}